In [8]:
import pandas as pd
from PIL import Image
import seaborn as sns
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator

import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
input_path = '../joke_recommender/data/'

In [10]:
df_joke = pd.read_csv(input_path + 'JokeText.csv')
df1 = pd.read_csv(input_path + 'UserRatings1.csv')
df2 = pd.read_csv(input_path + 'UserRatings2.csv')

In [11]:
df1

,JokeId,User1,User2,User3,User4,User5,User6,User7,User8,User9,...,User36701,User36702,User36703,User36704,User36705,User36706,User36707,User36708,User36709,User36710
0,0,5.10,-8.79,-3.50,7.14,-8.79,9.22,-4.03,3.11,-3.64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.91,NaN
1,1,4.90,-0.87,-2.91,-3.88,-0.58,9.37,-1.55,0.92,-3.35,...,NaN,NaN,NaN,-5.63,NaN,-6.07,NaN,-1.60,-4.56,NaN
2,2,1.75,1.99,-2.18,-3.06,-0.58,-3.93,-3.64,7.52,-6.46,...,NaN,NaN,NaN,NaN,NaN,4.08,NaN,NaN,8.98,NaN
3,3,-4.17,-4.61,-0.10,0.05,8.98,9.27,-6.99,0.49,-3.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,5.15,5.39,7.52,6.26,7.67,3.45,5.44,-0.58,1.26,...,2.28,-0.49,5.1,-0.29,-3.54,-1.36,7.48,-5.78,0.73,2.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,6.31,-1.02,3.98,3.93,9.13,1.94,0.44,1.21,6.94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,96,-4.95,-0.97,-6.46,-2.57,9.17,1.99,-0.78,5.34,5.83,...,NaN,NaN,NaN,NaN,5.87,NaN,NaN,NaN,NaN,NaN
97,97,-0.19,4.13,-6.89,1.07,9.17,3.45,-1.02,1.94,5.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,98,3.25,-1.84,-2.33,2.33,9.08,9.17,1.70,3.06,6.55,...,NaN,NaN,NaN,NaN,NaN,3.64,NaN,NaN,NaN,NaN
99,99,4.37,2.96,-7.38,-0.34,8.98,-1.55,4.22,3.59,3.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
final_df = pd.concat([df1,df2], axis = 1)

In [13]:
final_df

,JokeId,User1,User2,User3,User4,User5,User6,User7,User8,User9,...,User73412,User73413,User73414,User73415,User73416,User73417,User73418,User73419,User73420,User73421
0,0,5.10,-8.79,-3.50,7.14,-8.79,9.22,-4.03,3.11,-3.64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,4.90,-0.87,-2.91,-3.88,-0.58,9.37,-1.55,0.92,-3.35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1.75,1.99,-2.18,-3.06,-0.58,-3.93,-3.64,7.52,-6.46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,-4.17,-4.61,-0.10,0.05,8.98,9.27,-6.99,0.49,-3.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,5.15,5.39,7.52,6.26,7.67,3.45,5.44,-0.58,1.26,...,3.64,4.32,6.99,-9.66,-8.4,-0.63,9.51,-7.67,-1.6,8.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,6.31,-1.02,3.98,3.93,9.13,1.94,0.44,1.21,6.94,...,2.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,96,-4.95,-0.97,-6.46,-2.57,9.17,1.99,-0.78,5.34,5.83,...,NaN,NaN,NaN,NaN,NaN,0.78,NaN,NaN,NaN,NaN
97,97,-0.19,4.13,-6.89,1.07,9.17,3.45,-1.02,1.94,5.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,98,3.25,-1.84,-2.33,2.33,9.08,9.17,1.70,3.06,6.55,...,7.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,99,4.37,2.96,-7.38,-0.34,8.98,-1.55,4.22,3.59,3.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
final_df.to_csv(input_path + 'joke_dataframe.csv')

KeyError: "['Unnamed: 0' 'JokeId'] not found in axis"

# Start from here:
I outputted the full dataframe as a csv so we don't have to process it everytime.

In [ ]:
df = pd.read_csv(input_path + 'joke_dataframe.csv').drop(['Unnamed: 0', 'JokeId'])

In [ ]:
df

# Visualizations:
*put your guys' ideas for visualizations below.
I'm going to start with an average rating per joke.

In [ ]:
avg_rating = df.mean(axis = 0)
sns.scatterplot(data = avg_rating)